#app {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ab0aa+50,000100+100 */
  background: #2ab0aa; /* Old browsers */
  background: -moz-linear-gradient(top,  #2ab0aa 50%, #000100 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2ab0aa 50%,#000100 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2ab0aa 50%,#000100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ab0aa', endColorstr='#000100',GradientType=0 ); /* IE6-9 */

  padding: 16px;
}
.location {
  display: inline;
}
.main-content {
  margin-left: 2%;
}

.experience {
  margin-top: 16px;
}

@media (max-width: 944px) {
  .main-content {
    margin-left: 0;
  }
}
